
    .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color:#30c2fc;
    width: 800px;
    height: 500px;
    z-index: 1;

}
.bird-head{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    background-color: black;
    width: 350px;
    height: 400px;
    border-radius: 100px 100px 0 0 ;
    z-index: 3;

}
.bird-eye{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    background-color:white;
    width: 40px;
    height: 40px;
    z-index: 4;
}
.bird-beak{
    position: absolute;
    left:75%;
    top: 55%;
    transform: translate(-50%,-50%);
    width: 0; 
    height: 0; 
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
    
    border-left: 60px solid yellow;
    z-index: 2;
    
}
